.drop-area {
  padding: 14.55px 11.64px;
  border: 1px dashed #ffd4ec;
  width: 100%;
  border-radius: 7.76px;
  background: #f8f8f8;
  height: 86px;
}

.label {
  font-size: 13.58px;
  font-weight: 400;
  line-height: 19.96px;
  color: #092434ab;
}

.question {
  padding: 8px;
  margin: 4px 0;
  background: #fff;
  border-radius: 4px;
}
