.body {
  width: calc(100% - 5.5rem);
  margin-right: 5.5rem;
  top: 0;
  z-index: 0;
  position: relative;
  transition: all 0.5s ease;
  padding: 3rem;
}

.body-trimmed {
  width: calc(100% - 22rem);
  margin-right: 20rem;
}

.body-md-screen {
  width: calc(100% - 7rem);
  margin-right: 7rem;
}
