<nav>
  <div class="container-fluid">
    <div class="full-nav">
      <div class="title"><h1>المواد</h1></div>
      <div class="nav-details">
        <div class="all-icons">
          <div class="icon">
            <img src="assets/icons/calendar-2.svg" alt="" />
          </div>
          <div class="icon">
            <img src="assets/icons/message-question.svg" alt="" />
          </div>
          <div class="icon">
            <img src="assets/icons/notification.svg" alt="" />
          </div>
        </div>
        <div class="user">
          <div class="image">
            <img src="assets/images/Memoji.png" alt="" />
          </div>
          <div class="details">
            <h2 class="name">أحمد سليمان</h2>
            <p class="role">معلم</p>
          </div>
          <img class="arrow" src="assets/icons/arrow-down.svg" alt="" />

          <!-- <div class="dropdown">
            <div class="user-details">
              <div class="image">
                <img src="assets/images/Memoji.png" alt="" />
              </div>
              <div class="detail">
                <p class="detail-name">احمد سليمان</p>
                <p class="online">متصل</p>
              </div>
            </div>

            <hr />

            <div class="account">
              <a>
                <div class="button-name">
                  <img src="assets/icons/profile.svg" alt="" />
                  <p>حسابي</p>
                </div>
                <i class="fa fa-chevron-right"></i>
              </a>
            </div>
            <hr />
            <div class="account">
              <a (click)="logout()">
                <div class="button-name">
                  <img src="assets/icons/logout.svg" alt="" />
                  <p>تسجيل الخروج</p>
                </div>
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</nav>
