.title {
  margin-right: 1rem;
  h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 29.4px;
    margin-bottom: 0;
  }
}
.full-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    .all-icons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      .icon {
        img {
          cursor: pointer;
        }
      }
    }

    .user {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 2rem;
      gap: 10px;

      &:hover {
        .dropdown {
          display: block !important;
        }
      }

      .dropdown {
        background-color: white;
        display: none;
        border-radius: 12px;
        padding: 20px 25px;
        position: absolute;
        top: 50px;
        width: 250px;
        left: 0;
        z-index: 100000000;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        hr {
          opacity: 0.25;
          color: #111113;
          margin: 25px 0;
        }

        .user-details {
          width: 100%;
          display: flex;
          gap: 20px;

          .image {
            width: 64px;
            height: 64px;
            font-size: 24px;
            margin-left: 0;
          }
          img {
            width: 64px;
            height: 64px;
            margin-left: 0;
          }
          .detail {
            .detail-name {
              font-size: 16px;
              font-weight: 600;
              line-height: 19.5px;
              color: #111113;
            }

            .online {
              font-size: 14px;
              font-weight: 500;
              line-height: 17.07px;
              color: #659711;
            }
          }
        }

        .account {
          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            .button-name {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 5px;
              img {
                width: 18px;
                height: 18px;
              }
              p {
                font-size: 14px;
                font-weight: 500;
                line-height: 17.64px;
                margin-bottom: 0;
                color: #111113;
              }
            }
            i {
              font-size: 14px;
              padding-right: 10px;
            }
          }
        }
      }
      .image {
        cursor: pointer;
        border-radius: 50%;
        img {
          width: 45px;
          height: 45px;
          cursor: pointer;
          border-radius: 50%;
        }
      }

      .details {
        .name {
          font-size: 16px;
          font-weight: 500;
          line-height: 23.52px;
          margin-bottom: 10px;
        }
        .role {
          font-size: 14px;
          margin-bottom: 0;
          font-weight: 400;
          line-height: 20.58px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .title {
    display: none;
  }
  .full-nav {
    justify-content: center;
    .nav-details {
      gap: 0.5rem !important;
    }
    .user {
      margin-left: 0 !important;
      gap: 7px !important;
      .name {
        font-size: 12px !important;
      }
      .role {
        font-size: 10px !important;
      }

      .arrow {
        width: 11px;
        height: 11px;
      }
    }
  }
}
