<div class="question">
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <h2 class="title">اختيار من متعدد</h2>
    <div class="row">
      <div class="col-12 mb-3">
        <mat-form-field
          class="example-full-width mb-3 w-100"
          appearance="outline"
        >
          <mat-label>نص السؤال,,, </mat-label>
          <textarea matInput formControlName="question" required></textarea>
          <mat-error *ngIf="questionForm.get('question')?.hasError('required')">
            نص السؤال مطلوب,,,
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="choice-difficulty">
      <div class="add-choice">
        <button type="button" (click)="addChoice()">
          <span class="plus">+</span>خيار جديد
        </button>
      </div>
      <div class="">
        <mat-radio-group formControlName="difficulty">
          <mat-radio-button value="سهل">سهل</mat-radio-button>
          <mat-radio-button value="متوسط">متوسط</mat-radio-button>
          <mat-radio-button value="صعب">صعب</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div
      formArrayName="choices"
      *ngFor="let choice of choices.controls; let i = index"
    >
      <div [formGroupName]="i" class="row mt-3 mb-3">
        <div class="col-lg-9 col-xl-9 col-sm-8 col-md-8">
          <mat-form-field class="example-full-width w-75" appearance="outline">
            <mat-label>الاختيار {{ i + 1 }}</mat-label>
            <input matInput formControlName="text" required />
            <mat-error *ngIf="choice.get('text')?.hasError('required')"
              >الأجابه مطلوبه</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-xl-3 col-sm-4 col-md-4">
          <mat-checkbox formControlName="isCorrect"
            >تحديد كاجابة صحيحة</mat-checkbox
          >
        </div>
      </div>
    </div>

    <div class="buttons">
      <button class="save" type="submit">حفظ كمسودة</button>
      <button class="delete" type="button">الغاء</button>
    </div>
  </form>
</div>
