<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button (click)="toggleCollapsed()" class="logo">
      <img src="assets/images/Logo.png" alt="" />
    </button>
    <div *ngIf="collapsed" class="logo-title">كتابك</div>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let nav of navData">
      <a
        [routerLink]="nav.routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="sidenav-nav-link"
      >
        <i class="sidenav-nav-icon" [class]="nav.icon"></i>
        <span *ngIf="collapsed" class="sidenav-link-text">{{ nav.label }}</span>
      </a>
    </li>
  </ul>
</div>
